**Dr. Fatma Ibahim**

**TU Dortmund**

# Dictionaries

   Dictionaries consist of key-value pairs that are unordered, indexed and accessible through the key. While the values can all 
   have different data types, the key must always be a string. Keys are always unique but the values can be duplicated.
   
   Dictionaries are mapping types.



    1.) Creating a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods
    5.) Dict Comprehension



## Creating a Dictionary
    
Dictionaries are defined through curly brackets ({}). The key-value pairs are then sperated through a colon (:).

In [4]:
# Make a dictionary with {}
d =  {}  

# create my_dict with the following keys: key1 and key2 and the corresponding values: value1, value2
my_dict ={'key1':'value1','key2':'value2','key3':'value3'}

In [5]:
# Check the value of key2
my_dict['key1']

'value1'

In [6]:
# Change the value of key1 in my_dict to 123, the value of key2 to a list with the elements 12, 23, 33 and the value of key3 to
# a list with the elements item0,item1,item2

my_dict['key1'] = 123
my_dict['key2'] = [12, 23, 33]
my_dict['key3'] = ['item0','item1','item2']
my_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [7]:
# Check the value of key3
my_dict['key3']

['item0', 'item1', 'item2']

In [10]:
# Access the first item of the list stored in key3
my_dict['key2'][1]

23

In [11]:
my_dict['key4'] = my_dict['key3']

In [12]:
# Use the method upper() on the first item of the list stored in key3 (from "item0" to "ITEM0")
my_dict['key3'][0].upper()

'ITEM0'

We can affect the values of a key as well. For instance:

In [6]:
my_dict['key1']

123

In [13]:
# Subtract 123 from the value of key1. Make the changes permanent
my_dict['key1'] = my_dict['key1'] - 123

In [15]:
# Check whether or not it really did change
my_dict['key1'] -=123
my_dict['key1']

0

 instead we can use  += or -=

In [9]:
# Set the object equal to itself minus 123 
my_dict['key1']-=123
# Code here
my_dict['key1']

-123

In [13]:
# Create a new dictionary
d = {}

In [15]:
# Create a new key through assignment - Let the key be "animal" and the value "dog"
d['animal'] = ['dog', 'cat']

In [16]:
# Create a key "answer" with the value 42 (Integer)
d

{'animal': ['dog', 'cat']}

In [12]:
#Show
d

{'animal': 'Dog', 'answer': 42}

## Nesting with Dictionaries

In [13]:
# You can store dictionaries in dictionaries
dict1={'name':'Hannes', 'age':23}
dict2={'name': 'Haya','age':10}
dict3={'name':'peter','age':25}
dict_name=[dict1,dict2,dict3]
dict_name[0]['name']

'Hannes'

Let's see  **a list in a dictionary**

In [14]:
# The value must not always be a single element. It may also be a list
dict_name={'name':['Hannes','Haya','peter']}
dict_name['name'][1]

'Haya'

In [15]:
dict_name={'name':['Hannes','Haya','peter'],'age':[11,12,45]}
name=dict_name['name'][1]
age=dict_name['age'][1]
print(name+' is'+' '+str(age))

Haya is 12

**A dictionary in a dictionary**

you can nest a dictionary inside another dictionary

In [17]:
# Dictionary nested inside a dictionary which is nested inside a second dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [19]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

##  Dictionary Methods

In [16]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [17]:
# Method to return a list of all keys  
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [18]:
# Method to grab all values 
d.values()

dict_values([1, 2, 3])

In [24]:
# Method to return tuples of all key and values
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [20]:
#copy from Dictionary 
d2 = d.copy()
d2

{'key1': 1, 'key2': 2, 'key3': 3}

In [21]:
#  clear  dictionary 
# Code here

d2.clear()
# show d2
d2

{}

In [22]:
# to delete d2 from the dictionary  
del(d2)
d2

NameError: name 'd2' is not defined

In [28]:
# Elements of the list as keys in dictionary 
# create a list with the elements name and age


#code here  
d3={'name':1,'age':2}
# check d3
d3   # the values of the keys are none

{'name': 1, 'age': 2}

In [29]:
# add values for the keys
d3['name']='Lisa'
d3['age']=3

# show d3
d3

{'name': 'Lisa', 'age': 3}

## Dict Comprehensions

In [32]:
# create a dict with fruits name as a key for the dict and the values with the length of the key
fruits = ['apple', 'mango', 'banana','cherry'] 

dict2 = {k:len(k) for k in fruits}
dict2

{'apple': 5, 'mango': 5, 'banana': 6, 'cherry': 6}

Der Nutzerin/dem Nutzer ist bekannt, dass die nachfolgenden Inhalte und Materialien urheberrechtlich geschützt sind. Die Nutzung ist ausschließlich für den persönlichen Gebrauch im Rahmen von universitären Zwecken zulässig. Insbesondere die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung sowie die Weitergabe an Dritte nicht gestattet.
Zuwiderhandlungen werden zivil- und strafrechtlich verfolgt.“



​

In [30]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
# Double each value in the dictionary
double_dict1 = {k:v*2 for (k,v) in dict1.items()}
print(double_dict1)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

In [33]:
dict1_keys = {k*2:v for (k,v) in dict1.items()}
print(dict1_keys)

{'aa': 1, 'bb': 2, 'cc': 3, 'dd': 4, 'ee': 5}

In [34]:
#create a new dictionary where the key is a number divisible by 2 in a range of 0-10 and it's value is the square of the number.
numbers = range(10)
new_dict_comp = {n:n**2 for n in numbers if n%2 == 0}

print(new_dict_comp)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}